name: 'Pint'

on:
  push:
    branches-ignore:
      - release
  pull_request:
    branches-ignore:
      - release

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

env:
  SEGMENT_DOWNLOAD_TIMEOUT_MIN: 3

jobs:
  files-changed:
    name: 'Detect file changes'

    runs-on: ubuntu-latest
    timeout-minutes: 3

    outputs:
      pint: ${{ steps.changes.outputs.pint }}

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Check for file changes
        uses: dorny/paths-filter@v2
        id: changes
        with:
          token: ${{ github.token }}
          filters: .github/file-filters.yml

  pint:
    needs: files-changed
    if: needs.files-changed.outputs.pint == 'true'

    name: 'Laravel Pint'
    runs-on: ubuntu-latest
    timeout-minutes: 3

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Prettify with Laravel Pint
        uses: aglipanci/laravel-pint-action@2.3.0
        with:
          verboseMode: true
          configPath: "pint.json"

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "chore(format): code re-format (pint)"
